* {
margin: 0;
padding: 0; 
box-sizing: border-box;   
}

.boss {
width: 100%;
height: 2910px;
background-color: red;
}

.header {
width: 100%;
height: 160px;
background-color: blue;    
}

.logo_div {
width: 10%;
height: 160px;
background-color: green; 
display: inline-block;
padding-left: 20px; 
}

.logo_div_small {
width: 80%;
height: 140px;
background-color: red;    
}

.logo {
width: 100%;
height: 140px;    
}

.navbar {
width: 70%;    
height: 160px;   
background-color: yellow;
display: inline-block; 
}

.gift_button_div {
width: 19%;
height: 160px;
background-color: aqua;
display: inline-block;
margin-top: 10px;
}

.button_gift_finder {
width: 60%;
height: 57px;
background: none;  
border-radius: 10px;
border-color: orange;
color: orange;
}

.main1 {
width: 100%;
height: 700px; 
background-color: white;   
}

.left_div {
width: 49%;
height: 700px;
background-color: red; 
display: inline-block; 
padding-top: 107px;
}

.news1 {
width: 60%;
height: 500px;
background-color: yellow;
margin: 0 auto;    
}

.text1 {
font-size: 60px;
}

.text2 {
font-size: 21px;    
}

.find_gift_now {
width: 35%;
height: 65px; 
border-radius: 10px; 
border-color: orange;
background-color: orange; 
color: white;
transition: 0.3s; 
}

.find_gift_now:hover {
background-color: white;
color: black;    
}

.right_div {
width: 49%;
height: 700px;
display: inline-block;
background-image: url(images/news-1.jpg);
background-repeat: no-repeat;
background-size: cover;   
}


.main2 {
width: 100%;
height: 700px;
background-color: blue;    
}

.photo_div {
width: 50%;
height: 700px;
display: inline-block;
background-color: yellow; 
background-image: url(images/news-2.jpg); 
background-repeat: no-repeat;
background-size: cover;  
}

.text_div {
width: 48%;
height: 700px;
display: inline-block;
background-color: rgb(0, 255, 162); 
padding-top: 107px;
}

.news2 {
width: 60%;
height: 500px;
margin: 0 auto;    
}


.text3 {
font-size: 60px;
}

.text4 {
font-size: 21px;    
}

.learn_more {
width: 35%;
height: 65px; 
border-radius: 10px; 
border-color: orange;
background-color: orange; 
color: white;
transition: 0.3s; 
}

.learn_more:hover {
background-color: white;
color: black;    
} 

.main3 {
width: 100%;
height: 800px;
background-color: white;    
}

.text4_div_big {
width: 100%;
height: 300px;
background-color: white;  
padding-top: 75px;
margin-bottom: 78px;  
}

.text4_div {
width: 40%;
height: 150px;
margin: 0 auto;   
}

.gifts_text {
font-size: 40px;    
}

.try_text {
font-size: 20px;   
}

.card1 {
width: 15%;
height: 300px;
background-color: rgba(255, 247, 247, 0.814);
border-radius: 10px;
margin-left: 50px;
transition: 0.4s;  
display: inline-block;
margin-right: 100px;  
}

.card1:hover {
transform: scale(1.1, 1.1);
}

.card1photo {
width: 100%;
height: 200px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-image: url(images/birthday_photo.jpg); 
background-repeat: no-repeat;
background-size: cover; 
margin-bottom: 10px;
}

.birthday_text {
margin-left: 10px;    
}

.see_more_div {
width: 28%;
height: 14px;
margin-top: 40px;
background-color: rgba(255, 255, 255, 0);
transition: 0.3s;
margin-left: 10px;    
}

.see_more_div:hover {
transform: translateX(10px);
}

.see_more {
font-size: 14px;
color: black;
transition: 0.3s;    
}

.see_more:hover {
color: red;
transform: translateX(10px);    
}

.card2 {
width: 15%;
height: 300px;
background-color: rgba(255, 247, 247, 0.814);
border-radius: 10px;
margin-left: 50px;
transition: 0.4s;
display: inline-block;
margin-right: 100px;  
}

.card2:hover {
transform: scale(1.1, 1.1);
}

.card2photo {
width: 100%;
height: 200px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-image: url(images/vizitka.jpg); 
background-repeat: no-repeat;
background-size: cover; 
margin-bottom: 10px;
}

.card3 {
width: 15%;
height: 300px;
background-color: rgba(255, 247, 247, 0.814);
border-radius: 10px;
margin-left: 50px;
transition: 0.4s;
display: inline-block;
margin-right: 100px;  
}

.card3:hover {
transform: scale(1.1, 1.1);
}

.card3photo {
width: 100%;
height: 200px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-image: url(images/kiss_me.jpg); 
background-repeat: no-repeat;
background-size: cover; 
margin-bottom: 10px;
}

.card4 {
width: 15%;
height: 300px;
background-color: rgba(255, 247, 247, 0.814);
border-radius: 10px;
margin-left: 50px;
transition: 0.4s;
display: inline-block;  
}

.card4:hover {
transform: scale(1.1, 1.1);
}

.card4photo {
width: 100%;
height: 200px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background-image: url(images/chirstmas_tree.jpg); 
background-repeat: no-repeat;
background-size: cover; 
margin-bottom: 10px;
}

.main4 {
width: 100%;
height: 250px;
background-color: orange;
padding-top: 75px;    
}

.text_orange {
width: 20%;
height: 100px;
margin-left: 250px; 
display: inline-block;  
}

.signup_text {
font-size: 30px;    
}

.ready_text {
font-size: 30px;    
}

.buttons_div {
width: 30%;
height: 100px;
display: inline-block; 
margin-left: 200px;   
}

.find_gift_now2 {
width: 40%;
height: 50px;
background-color: black;
color: white;
border-radius: 7px;
transition: 0.3s;
border-color: black;
margin-right: 10px;
}

.find_gift_now2:hover {
background-color: orange;
}

.how_it {
width: 40%;
height: 50px;
border-radius: 7px;
background-color: orange;
transition: 0.3s;
}

.how_it:hover {
transform: matrix(1.1, 0, 0, 1.1, 10, 0) rotate(6deg);
}

.main5 {
width: 100%;
height: 300px;
background-color: blue;    
}

.title_div1 {
width: 50%;
height: 300px;
background-color: green;    
display: inline-block;
}

.title_div2 {
width: 48%;
height: 300px;
background-color: aqua;    
display: inline-block;
    
}